.nav {
  text-align: center;
  font-size: 50px;
  text-decoration: none;
  font-family: 'DM Serif Text', serif;


}
.top {
  text-align: center;
  font-family: 'DM Serif Text', serif;
  font-size: 100px;
  background-color: #ffd700;
}
.s{
  text-align: center;
  font-family: 'DM Serif Text', serif;
  font-size: 50px;
}
